<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Fissile-Isotope-037</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet"> -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/slate/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fissile-Isotope-037</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="main" class="container">
      <div class="jumbotron">
        <h1>Hello, World!</h1>
        <p>My name is Fissile-Isotope-037. A sample Node.js app built on Heroku.</p>
        <a href="https://github.com/odran037/fissile-isotope-037" class="btn btn-primary btn-lg">View Github Repo</a>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="icons">
          <a href="http://leonardoprates.com" class="fa fa-cogs"></a>
          <a href="http://odran037.io" class="fa fa-code"></a>
          <a href="https://github.com/odran037" class="fa fa-github"></a>
          <a href="https://codepen.io/odran037" class="fa fa-codepen"></a>
          <a href="https://twitter.com/odran037" class="fa fa-twitter"></a>
          <a href="https://www.linkedin.com/in/odran037" class="fa fa-linkedin"></a>
          <a href="http://darajatan.tumblr.com" class="fa fa-tumblr"></a>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/script.js"></script>

  </body>
</html>