<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Fissile-Isotope-037</title>
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>

  <div class="container">
    <div class="jumbotron">
      <h1>Hello, World!</h1>
      <p>My name is Fissile-Isotope-037. A sample Node.js app built on Heroku.</p>
      <a href="https://github.com/odran037/fissile-isotope-037" class="btn btn-primary btn-lg">View Github Repo</a>
    </div>
    <footer class="footer">
      <div class="icons"></p>
        <a href="http://leonardoprates.com" class="fa fa-cogs">&nbsp;</a>
        <a href="http://odran037.io" class="fa fa-code">&nbsp;</a>
        <a href="https://github.com/odran037" class="fa fa-github">&nbsp;</a>
        <a href="https://codepen.io/odran037" class="fa fa-codepen">&nbsp;</a>
        <a href="https://twitter.com/odran037" class="fa fa-twitter">&nbsp;</a>
        <a href="https://www.linkedin.com/in/odran037" class="fa fa-linkedin">&nbsp;</a>
        <a href="http://darajatan.tumblr.com" class="fa fa-tumblr">&nbsp;</a>
      </div>
    </footer>
  </div>
      
  </body>
</html>