body {
  padding-top: 50px;
}

.container .jumbotron {
  border-radius: 40px;
}

.footer {
  text-align: right;
  color: #333;
  padding-bottom: 50px;
}

.icons {
  margin: 0 auto;
  max-width: 250px;
  border-top: 1px #333 solid;
  border-bottom: 1px #333 solid;
  text-align: center;
}

.icons a {
  padding: 10px 5px 10px 5px;
}